# specific
*.copy
*.txt
*.cmd
ARCHIVE/
OUTPUTS/
test*
notes-loose*
ToDo

# archive
*.zip

# data
*.csv
*.dat
*.root
*.xml
*.pickle

# graphics
*.png
*.jpg

# python / jupyter
*ipynb_checkpoints*


# LaTeX
*.log
*.aux
*.out
*.gz
*.bbl
*.blg
*.toc
*.pdf

