# specific
notes-loose*
ToDo
*.copy
*.txt


# archive
*.zip

# data
*.csv
*.dat
*.root
*.xml
*.pickle

# graphics
*.png
*.jpg

# python / jupyter
*ipynb_checkpoints*


# LaTeX
*.log
*.aux
*.out
*.gz
*.bbl
*.blg
*.toc
*.pdf

